<div class="col-sm-8 col-sm-offset-2">
    
    <div class="row text-left">
        <legend>My auctions</legend>
    </div>
    
    <div class="row text-left" style="margin-bottom: 10px">
        <button class="btn btn-primary" ui-sref="app.auction.create">Create new auction</button>
        <br><br>Please note that you can only edit or delete an auction if:
        <br>1. you have not started it
        <br>2. no bids have been placed for it
    </div>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="text-align: center">Title</th>
                <th style="text-align: center">Status</th>
                <th style="text-align: center">Current bid</th>
                <th style="text-align: center"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="auction in auctionList">
                <td style="line-height: 2; cursor: pointer" ui-sref="app.auction.display({id:auction.id})">{{auction.name}}</td>
                <td style="line-height: 2; cursor: pointer" ui-sref="app.auction.display({id:auction.id})" ng-if="!auction.status">inactive</td>
                <td style="line-height: 2; cursor: pointer" ui-sref="app.auction.display({id:auction.id})" ng-if="auction.status"><span style= "color: rgb(251, 130, 13)">active</td>
                <td style="line-height: 2; cursor: pointer" ui-sref="app.auction.display({id:auction.id})">{{auction.currently}} $</td>
                <td style="line-height: 2; white-space: nowrap; width: 1%;">
                    <button class="btn btn-primary btn-sm" ng-disabled="auction.allowChanges" ng-click="edit(auction.id)">Edit auction</button>
                    <button class="btn btn-danger btn-sm" ng-disabled="auction.allowChanges" ng-click="delete($index, auction.id)">Delete auction</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>